.btnLinks {
	border-radius: 6px;
	padding: 15px 80px;
	background-color: var(--c-primary);
	color: var(--c-text-light);
	box-shadow: 2px 2px 4px 0px var(--c-bg-dark);
	font-weight: var(--fw-bold);
	font-size: var(--fs-medium);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.btnLinks:hover {
	background-color: var(--c-primary-dark);
	transition: all 0.8s ease-in-out;
}

.btnSwitcher {
	cursor: pointer;
	padding: 10px;
	color: var(--c-text-light);
	background-color: var(--c-primary-dark);
	box-shadow: 2px 2px 4px 0px var(--c-bg-dark);
	border: none;
	border-radius: 6px;
	font-family: "Roboto", sans-serif;
	font-size: 0.75rem;
	font-weight: var(--fw-bold);
	text-transform: uppercase;
}
