.btnLinks {
	border-radius: 6px;
	padding: 15px 80px;
	background-color: var(--c-primary);
	color: var(--c-text-light);
	box-shadow: 1px 1px 4px 0px var(--c-accent);
	font-weight: var(--fw-bold);
	font-size: var(--fs-medium);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.btnLinks:hover {
	background-color: var(--c-primary);
	opacity: 0.8;
	transition: all 0.8s ease-in-out;
}

.btnSwitcher {
	cursor: pointer;
	padding: 10px;
	color: var(--c-text);
	background-color: transparent;
	box-shadow: 1px 1px 4px 0px var(--c-accent);
	border: 2px solid var(--c-primary);
	border-radius: 6px;
	font-family: "Roboto", sans-serif;
	font-size: 0.75rem;
	font-weight: var(--fw-bold);
	text-transform: uppercase;
}

.btnSwitcher:hover {
	background-color: var(--c-primary);
	opacity: 0.8;
}
