* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

#light-mode {
	--c-bg: #f7ebfd;
	--c-primary: #c8b1e4;
	--c-accent: #4c4e4c;
	--c-text: #1d1d1d;
	--c-text-button: #1d1d1d;
}

#dark-mode {
	--c-bg: #1d1d1d;
	--c-primary: #c8b1e4;
	--c-accent: #f7ebfd;
	--c-text: #f7ebfd;
	--c-text-button: #1d1d1d;

}

.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	background-color: var(--c-bg);
	color: var(--c-text);
	font-family: var(--ff-roboto);
}

.buttons-wrapper {
	display: flex;
	flex-direction: column;
	gap: 14px;
	margin-top: 10px;
}

.ButtonSwitcher {
	margin-top: 10px;
}

.Footer {
	margin-top: 10px;
}
